name: GitHub-Profile-Summary-Cards

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v4
      
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          # OPTIONS: default, 2077, algolia, atomic, aurora, dracula, for-the-badge, github, gruvbox, material, monokai, nord, onedark, radical, solarized, tokyo-night
          THEME: buefy

      - name: Remove Background and Borders
        run: |
          sed -i -E 's/<rect x="1" y="1" rx="5" ry="5"[^>]*>/<rect x="1" y="1" rx="5" ry="5" height="100%" width="100%" fill="none" stroke="none"><\/rect>/g' profile-summary-card-output/buefy/*.svg || true
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add profile-summary-card-output/buefy/*.svg
          git commit -m "style: remove backgrounds from summary cards" || echo "No changes to commit"
          git push
